<div class="container">
    <h1>Background</h1>
    <p>
        We want you to create a Angular application to view a list of records, add records and edit records.
    </p>
    
    <h2>Assignment</h2>
    <p>
        We want you to create a Angular application that has the following areas. You may use any CSS like bootstrap to make the pages look nice.
    </p>
    
    <h3>
      Form to create a new Person
    </h3>
    <p>
      <li>
        The form should have fields for `name`, `email`, `dob`, `avatar` and `country`
      </li>
    </p>
    
    <h3>
      List of Persons
    </h3>
    <p>
      <li>
        On this page show the Name, Email, Avatar and Age (not date of birth) of the person. To show the age, you should create a pipe.
      </li>
      <li>
        Clicking on the name of any person should open the form to edit the details
      </li>
      <li>
        Show the list in a "card" format rather than a simple list. (CardView should be a custom component with input parameters).
      </li>
    </p>
    
    Note : You DO NOT need to create any API. The API is already created. The details are available <a href="https://documenter.getpostman.com/view/3129705/RWTpsGbZ">here</a>
    
    
    <h3>Assessment Criteria</h3>
    <li>
      Code quality of the Angular Code.
    </li>
    <li>
      Code quality of the HTML and CSS if any.
    </li>
    <li>
      Look and feel of the form and list pages.
    </li>
    
    <h3>Deliverable</h3>
    <p>Create a repository in your github account and commit the code into that repository. Send us the link to the repository and host the code and send me the hosted link. </p>
</div>